.options-body {
  width: 500px;
  height: 320px;
  background-color: var(--bg-color);
}

.options-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  border-radius: 1.75rem;
  background-color: var(--bg-color);
  align-items: center;
  justify-items: center;
}

.options-content {
  background-color: var(--container-bg);
  color: var(--text-color);
  width: 130px;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 0.6rem;
  font-size: large;
  font-weight: bolder;
  text-align: center;
}

.options-content:focus {
  border: 2px solid var(--button-border);
  outline: none;
  box-shadow: 0 0 0 4px var(--button-border); /* Dışına kırmızı bir parlama efekti */
}

input {
  background-color: var(--container-bg);
}

.options-logo {
  width: 130px;
  height: 70px;
  justify-self: center;
  /* transform: translateX(20px); */
}

.options-header {
  /* display: grid;
  grid-template-columns: auto 1fr auto; */
  align-items: center;
  padding: 0 1rem;
}

.options-buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1.3rem 0.8rem 1rem 0;
  justify-content: flex-end;
}

.options-buttons button {
  color: var(--text-color);
  width: 130px;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 0.6rem;
  font-size: large;
  font-weight: bolder;
  cursor: pointer;
  gap: 8px;
  border: black solid 2px;
}

.options-save-button {
  color: #f8f9fa !important;
  background-color: #3d733f;
}
.options-save-button:hover {
  background-color: green;
}

.options-cancel-button {
  color: #f8f9fa !important;
  background-color: #8c3133;
}
.options-cancel-button:hover {
  background-color: red;
}
